div.sticky {
    position: sticky;
    top: 0;
    background-color: rgb(196, 255, 250);
    border: 2px solid #dafdff;
    }

    .container {
        position: relative;
        text-align: center;}

  .centered {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

    h1
    {font-family:'Segoe UI', Tahoma, Verdana, sans-serif ;
    Padding-left: 300px}

p 
{font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
text-align: center}






.container-sm
{position:relative ;
text-align: center}


.center {text-align: center}

#hp  {
    float: right;    
     margin: 10px 10px 10px 100px;
    }



    p.copyright {
        position: absolute;
        width: 100%;
        color: #370000;
        line-height: 40px;
        font-size: 0.7em;
        text-align: center;
        bottom: 1%;;
    }


.title
    {font-family: cursive;
    font-size:90%;}


   .para { text-align: left; 
        Padding-left: 100px ;
        Padding-right: 100px;
        font-size:xx-large}









