div.sticky {
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid #b2e7ff;
    }

    .container {
        position: relative;
        text-align: center;}

  .centered {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

    h1
    {font-family:'Segoe UI', Tahoma, Verdana, sans-serif ;
    Padding-left: 300px}

p 
{font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
text-align: center}




.huge {color: brown;
    position:absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vh;
}


.nav {text-align:center;
    font-size: 35px;
}

a {color: rgb(255, 197, 197)}


#widelist {background-color: rgb(31, 10, 10);
    border:1px solid rgb(234, 226, 226);
    width:40px;
     padding: 10px;
     margin:20px;
    position: center}

     li {background-color: rgb(223, 161, 161);
        border:1px solid rgb(234, 226, 226);
        width:60vw;
         padding: 10px;
         margin:20px;
        position:center}









.container-sm
{position:relative ;
text-align: center}


.center {text-align: center}

#hp  {
    float: right;    
     margin: 10px 10px 10px 100px;
    }



    p.copyright {
        
        width: 100%;
        color: #370000;
        line-height: 40px;
        font-size: 0.7em;
        text-align: center;
        bottom: 1%;;
    }


.title
    {font-family: cursive;
    font-size:90%;}


   .para { text-align: left; 
        Padding-left: 100px ;
        Padding-right: 100px;
        font-size:xx-large}









